@charset "utf-8";
/* CSS Document */

a {
	color: inherit;
	text-decoration: none
}
body{
    font-family: 'Alegreya Sans', sans-serif;
    background-color: #661600;
    margin-left: auto;
	margin-right: auto;
	width: 1040px;
}
.PageBlanche {
	background-color: white;
    height: auto;
    width: 1000px;
    padding: 20px;
	margin-top: -20px;
	margin-bottom: 20px;
	background-image: url(fresque.svg);
	background-size: auto 500px;
	background-repeat: no-repeat;
	background-position: top 10px right;
}
.ImageFond {
	position: fixed;
	top: 0px;
	left: 0px;
}
.Footer {
	position: fixed;
	bottom: 0;
	width: 1040px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #7E3724;
	color: white
}
.TitreSection {
    font-family: 'Alegreya Sans', sans-serif;
	text-align: center;
	font-size: 20px;
	line-height: 30px;
    color: #FFFFFF;
    margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
    background-color: #661600;
	width: 100%;
	height: 30px;
}
.TitreSectionLink {
    font-family: 'Alegreya Sans', sans-serif;
	text-align: center;
	font-size: 20px;
	line-height: 30px;
    color: #FFFFFF;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
    background-color: #661600;
	width: 100%;
	height: 30px;
}
.TitreSectionLink:hover {
    background-color: #7e3724;
}
.TitrePage {
	font-family: 'Alegreya Sans', sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	line-height: 50px;
	color: #000000;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	height: 50px;
}
.TxtCenter {
	text-align: center;
}
.BoxLogo {
	display: flex;
	justify-content: space-evenly;
	margin-top: 10px;
}
.BoxProjet {
	display: flex;
	justify-content: space-between;
}
.Projet {
	width: 320px;
	height: auto;
	position: relative;
}
.TitreProjet {
	padding: 10px;
	background-color: #7e3724;
	color: white;
	height: auto;
}
.TitreProjet:hover {
	background-color: #661600
}
.CorpsProjet {
	background-color: white;
	padding: 10px;
	height: auto;
	color: black;
	margin-bottom: 60px;
}
.FooterProjet {
	position: absolute;
	bottom: 0px;
	text-align: center;
	align-content: center;
}
.BaliseTxt {
	background-color: #7e3724;
	color: white;
	padding: 5px;
}
.BaliseTxt:hover {
	background-color: #661600;
}